.App {
  display: grid;
  grid-template-rows: .15fr .85fr;
  grid-template-areas: "app-header" "app-body";
  text-align: center;
  margin: 0;
  min-height: 100%;
}

.App-header{
  display: grid;
  grid-area: "app-header";
  grid-template-columns: .8fr .2fr;
  grid-template-areas: "header-text" "login-button-area";
  margin-left: calc(2px + 0.25vw);
  margin-top: calc(2px + 0.25vw);
  align-items: center;

}

.Header-text{
  display: flex;
  align-content: bottom;
  margin-left: calc(2px + 5vw);
  grid-area: "header-text"
}

.Login-button-area{
  display: flex;
  margin-left: calc(2px + 5vw);
  grid-area: "login-button-area"
}

.App-body{
  display: grid;
  grid-area: "app-body";
  grid-template-columns: .3fr .7fr;
  grid-template-areas: "Pantry" "Recipes";
  /* background-color: #F2D4B7; */
  margin-top: calc(15px + 1vh);
}

a{
  text-decoration: none;
  color: #aa6423;
}

a:visited{
  text-decoration: none;
}

#LinkHome{
  color: black;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: white;
  margin-top: calc(1px + 1vh);
  margin-bottom: calc(1px + 1vh);
  transition-duration: 0.4s;
}

#LinkHome:hover{
  background-color: black;
  border-color: black;
  color: white;
}

button {
  background-color: transparent;
  color: black;
  border-color: transparent;
  border-style: solid;
  font-size: medium;
}

input[type=submit]{
  color: black;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: white;
  margin-top: calc(1px + 1vh);
  margin-bottom: calc(1px + 1vh);
  transition-duration: 0.4s;
}

input[type=submit]:hover{
  /* background-color: green; */
  background-color: black;
  border-color: black;
  color: white;
}
