/* general styling */
.Pantry{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    /* background-color: orange; */
}

.Pantry-Item{
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

#submit-button{
    color: black;
    border-color: black;
    max-width: 25%;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
}

#submit-box{
    max-width: 25%;
}

/* tags */
ul {
    list-style-type: none;
}

button{
    background-color: white;
    color: red;
    border-color: white;
    border-style: solid;
}

