/* general styling */
.Pantry{
    display: flex;
    grid-area: "Pantry";
    flex-direction: column;
    align-items: center;
    border-top-style: solid;
    border-top-color: #F2D4B7;
    /* border-right-style: solid;
    border-right-color: black; */
    height: 100%;
    margin-right: calc(5px + 1vw);
    /* background-color: orange; */
    background-color: white;

    height: 100vh;
}

.Pantry-Item{
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* text styling */
    font-weight: bold;

    /* border and margins */
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-radius: 10px;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
    background-color: #F2D4B7;
}

#submit-button{
    color: black;
    border-color: #F2D4B7;
    background-color: F2D4B7;
    max-width: 25%;
    margin-top: calc(1px + 1vh);
    margin-bottom: calc(1px + 1vh);
    transition-duration: 0.4s;
}

#submit-button:hover{
    /* background-color: green; */
    background-color: black;
    border-color: black;
    color: white;
}

#submit-box{
    max-width: 25%;
}

/* tags */
ul {
    list-style-type: none;
}

p{
    margin-left: calc(2px + 0.25vw);
    margin-top: calc(2px + 0.25vw);
}


