.RecipeCard{
    /* display */
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    grid-template-areas: "recipe-image recipe-desc recipe-fav";

    /* border, margins, padding */
    border-style: solid;
    border-color: black;   
    border-radius: 10px;
    margin-top: calc(20px + 1vh);
    margin-bottom: calc(20px + 1vh);
    padding-top: calc(10px + 0.5vh);
    padding-bottom: calc(10px + 0.5vh);
    /* background color */
    background-color: white;
}

.Title{
    font-weight: bold;
}

.Recipe-Image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: "recipe-image";

}

img{
    width: calc(100px + 1vh);
    height: calc(100px + 1vh);
}

.Recipe-Description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: "recipe-desc";
}

.Recipe-Fav-Select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: "recipe-fav";
}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
    content: "\2606";
    visibility:visible;
}
.star:checked:before {
    /* content is some sort of built in thing */
    content: "\2605"; 
    color: #FCD12A;
}