.Recs{
    overflow: auto;
    max-height:700px;
    
    background-color: #F2D4B7;

    /* border and margins */
    border-radius: 10px;
    border-style: solid;
    padding-left: calc(10px + 1vh);
}

#Recepie-Button{
  color: black;
  border-color: white;
  background-color: white;
  font-size: medium;
  border-radius: 5px;
  background-color: F2D4B7;
  max-width: 25%;
  margin-top: calc(1px + 1vh);
  margin-bottom: calc(1px + 1vh);
  transition-duration: 0.4s;
}

#Recepie-Button:hover{
  /* background-color: green; */
  background-color: black;
  border-color: black;
  color: white;
}